<div class="row-fluid">
  <div class="span4">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
       
        <li><%= link_to "APPLICATIONS FOR SUMMER INTERNSHIP AT TATA STEEL", "#"  %></li>
        <li><br></li>
        <li><%= link_to "MOST URGENT NOTICE FOR PPT OF CMC LTD", "#"  %></li>
         <li><br></li>
        <li><%= link_to "URGENT NOTICE OF DB CENTRE", "#"  %></li>

      </ul>
    </div><!--/.well -->
  
  </div><!--/span-->

  <div class="span8">
   
<table border="0" width="100%" align="center" cellspacing="0" cellpadding="5">

<tbody><tr bgcolor="#c0c0c0">
<td><b>PRE PLACEMENT TALK OF Loylty Rewardz Mngt Pvt Ltd FOR FINAL PLACEMENT</b></td><td align="right">
  <b>2013-10-18 11:42</b>
</td></tr>



  <tr>
  <td align="left" colspan="2"><div>Loylty Rewardz Mngt Pvt Ltd. is visiting the campus for Pre Placement Talk for  Final Placements.<p>Date : 19th  October, 2013 <br>  <br>Venue : KALIDAS AUDITORIUM</p><p>PPT   Time: 2.30 PM</p><p>List of eligible students for final placement for Program Manager Profile:</p><p>B. TECH + DUAL DEGREE + B ARCH + 5-YR M. SC + M. TECH + 2-YR M. SC : ALL SPECIALIZATIONS ALL DEPTT</p><p>Designation :  Program Manager</p><p>Compensation (CTC): RS. 850,000   P.A FOR ALL</p><p>-----------------------------------------------------------------------------------<br>List of eligible students for final placement for Strategy Analyst Profile:</p><p>B. TECH + DUAL DEGREE + B ARCH + 5-YR M. SC + M. TECH + 2-YR M. SC : ALL SPECIALIZATIONS ALL DEPTT</p><p>Designation :  Strategy Analyst</p><p>Compensation (CTC): RS. 850,000   P.A FOR ALL</p><p>------------------------------------------------------------------------------<br>List of eligible students for final placement for Tech Maverick Profile:</p><p>B. TECH : CS/ EE/ IE/ EC</p><p>DUAL DEGREE : CS/ EE – ALL/ EC - ALL</p><p>M. TECH : EMBEDDED CONTROLS &amp; SOFTWARE/ CS/ EE- ALL/ EC – ALL/ CSDP/ IT</p><p>5-YEAR M. SC : MATHS &amp; COMPUTING</p><p>2-YEAR M. SC : MATHS</p><p>Designation :  Tech Maverick</p><p>Compensation (CTC): RS. 10,00,000   P.A  P.A FOR ALL</p><p>All students from the above specializations are advised to be present at the venue at least 10 minutes in advance of the scheduled time. Late attendance in PPTs is discouraged. </p><p>Prof.-in-charge, T&amp;P </p><p>Copy to : Prof-in-Charge, AV Cell<br></p></div>
    </td>
  </tr>
</tbody></table>
    
  </div>

</div><!--/row-->