<div class="row-fluid">
  <div class="span4">
    <div class="well sidebar-nav">
      <input onKeyUp = "searchq(this.value)" type="text" class="form-control" placeholder="Search">
      <hr>
      <ul class="nav nav-list" id="head_list">

       
       <%= render(@links) %>

      </ul>


    </div><!--/.well -->
  
  </div><!--/span-->



  <div class="span8" >

     <a class="btn on_left" href="#prev" onclick="prev_heading()"><i class="icon-arrow-left icon-2x"></i></a>

     <a class="btn pull-right on_right" href="#next" onclick="next_heading()"><i class="icon-arrow-right icon-2x"></i></a>

     <div id="desc_cont"><h3>Click on a heading</h3></div>
   
   
    
  </div>

</div><!--/row-->



<script type="text/javascript">


function next_heading()
{
  if($('li.active').length > 0)
    $('li.active').next().next().find('a').click();
  else
    $('#head_list li a').eq(0).click();

}

function prev_heading()
{
  if($('li.active').length > 0)
    $('li.active').prev().prev().find('a').click();
  else
    $('#head_list li a').eq(0).click();

}

function searchq(str)
{

  if(str.length > 2 || str == "")
  {
    if(str == "")
      str = "0";

    $.ajax({
    async: "false",
        type: "GET",

  url: '/list/search/' + str, 
  success: function(data)
    {
      console.log(data);

      $('#head_list').html(data);

       $('#head_list li a').eq(0).click();

    }});
  }
}


function linkclick(e)
{

  $("#head_list li").each(function(i,val){
    $(val).removeClass('active');
  });

  console.log($(e).parent().addClass('active'));
}

</script>